@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Configuracion General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}
body{
    display: flex;
    background-color: #F0F2F5;
    margin-bottom: 50px;
}
body.dark{
    background-color: #18191A;
}
body.dark .CajaTodo .Formulario_Inicio{
    background-color: rgb(14, 14, 14);
    box-shadow: none;
}
body.dark .CajaTodo .Formulario_Inicio .formulario-registro .form-group .requiredField{
    color: white;
}
body.dark .CajaTodo .Formulario_Inicio .formulario-registro .form-group div input{
    border: 2px solid white;
    color: white;
}

body.dark .CajaTodo .opcion-regitro p{
    color: white;
}

body.dark .CajaTodo .Formulario_Registrar{
    background-color: rgb(14, 14, 14);
    box-shadow: none;
}
body.dark .CajaTodo .Formulario_Registrar .formulario-registro .form-group .requiredField{
    color: white;
}
body.dark .CajaTodo .Formulario_Registrar .formulario-registro .form-group div input{
    border: 2px solid white;
    color: white;
}

body.dark .CajaTodo .opcion-regitro p{
    color: white;
}


body.dark .Logos #Logo-Text{
    color: white;
}
.Logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6em;
    width: 40%;
    height: 100vh;
}
#Logo-Img{
    width: 400px;
    position: relative;
}

#Logo-Text{
    color: rgb(0, 0, 0);
}


.Formulario_Inicio{
    width: 50%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 80px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Formulario_Inicio label{
    font-size: 1.5em;
    text-align: center;
}
.Formulario_Inicio input{
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
}
.Formulario_Inicio button{
    padding: 10px 40px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}
.Formulario_Inicio button:hover{
    background-color: rgb(243, 255, 115);
    color: black;
}
.Formulario_Inicio .formulario-registro .form-group{
    padding-bottom: 50px;
}

.CajaTodo{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.opcion-regitro a{
    color: rgb(243, 255, 115);
}

.Formulario_Registrar{
    width: 50%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}
.Formulario_Registrar h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.Formulario_Registrar input{
    width: 90%;
    padding: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1em;
    outline: none;
    border: 2px solid;
}
.Formulario_Registrar button{
    padding: 10px 40px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Formulario_Registrar button:hover{
    background-color: rgb(243, 255, 115);
    color: black;
}
.Formulario_Registrar label{
    font-size: 1.9em;
    text-align: center;
}
.form-group{
    padding-bottom: 20px;
}


.formulario-registro{
    width: 90%;

}
#hint_id_username{
    display: none;
}
#hint_id_password1{
    display: none;
}
#hint_id_password2{
    display: none;
}
#error_1_id_password2{
    background-color: rgb(255, 121, 121);
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    body{
        flex-direction: column;
    }
    #Logo-Img{
        width: 80px;
    }
    .Logos{
        flex-direction: row;
        font-size: 1.5em;
        width: 100%;
        height: 15vh;
        gap: 15px;
    }
    .Formulario_Inicio{
        width: 80%;
        height: 80%;
    }
    .CajaTodo{
        width: 100%;
    }
    .CajaTodo-register{
        height: 90vh;
        width: 100%;
    }

    .Formulario_Registrar{
        width: 90%;
        height: 75vh;
    }
    .Formulario_Registrar label{
        font-size: 1.5em;
        text-align: center;
    }
    .form-group{
        padding-bottom: 10px;
    }
    
}