{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latager</title>
    <link href="{% static 'horarios/css/base.css' %}" rel="stylesheet">
    
    
    {% comment %} <link href="{% static 'FormaApp/css/home.css' %}" rel="stylesheet"> {% endcomment %}
    <link rel="icon" href="{% static 'horarios/img/lata.svg'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <nav class="Nav" id='nav'>
        <div class="Forma">
            <a href="{%url 'horarios'%}" class="Forma">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="50.000000pt" height="50.000000pt" viewBox="0 0 50.000000 50.000000"
                 preserveAspectRatio="xMidYMid meet" class="logo">
                <g id="logo" class="icono_fill" transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M130 457 c0 -13 -7 -32 -15 -43 -11 -15 -14 -55 -15 -190 0 -215 -8
                -204 152 -204 155 0 148 -10 148 206 -1 133 -4 173 -15 188 -8 11 -15 30 -15
                43 0 23 -1 23 -120 23 -119 0 -120 0 -120 -23z m216 -44 c7 -10 14 -21 14 -25
                0 -5 -38 -8 -85 -8 -50 0 -85 -4 -85 -10 0 -6 38 -10 95 -10 l96 0 -3 -142 -3
                -143 -92 -3 c-51 -1 -93 -7 -93 -12 0 -5 35 -11 78 -13 76 -3 75 -3 -18 -4
                -52 -1 -89 1 -82 4 21 8 13 22 -15 25 l-28 3 -3 143 -3 142 31 0 c16 0 30 5
                30 10 0 6 -9 10 -20 10 -23 0 -24 3 -8 30 11 17 24 20 97 20 68 0 86 -3 97
                -17z"/>
                </g>
                </svg>
                
                <h1>Latager</h1>
            </a>
        </div>
        <div class="iconos">
            <a href="{% url 'horarios' %}"><img src="{% static 'horarios/img/horarios.png'%}" alt="" class="icono"></a>

        </div>
        <div class="sesion">
            {% if user.is_authenticated %}
                <p id="usuario">{{ user.username }}</p>
                <svg version="1.1" baseProfile="basic" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32"
                xml:space="preserve">
                <path class="icono_path" stroke="#000000" style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;" d="M25.342,16
                    c0.779,0.935,1.486,1.943,2.12,3.014l-0.01,0.01c-0.343,2.11-1.444,4.032-3.107,5.383v0.01c-1.247-0.01-2.473-0.114-3.668-0.322
                    c-0.426,1.143-0.946,2.255-1.559,3.336c-2.016,0.759-4.219,0.759-6.235,0c-0.613-1.081-1.133-2.193-1.559-3.336
                    c-1.195,0.208-2.421,0.312-3.668,0.322v-0.01c-1.663-1.351-2.764-3.273-3.107-5.383l-0.01-0.01c0.634-1.07,1.341-2.078,2.12-3.014
                    c-0.779-0.935-1.486-1.943-2.12-3.014l0.01-0.01c0.343-2.11,1.444-4.032,3.107-5.383v-0.01c1.247,0.01,2.473,0.114,3.668,0.322
                    c0.426-1.143,0.946-2.255,1.559-3.336c2.016-0.759,4.219-0.759,6.235,0c0.613,1.081,1.133,2.193,1.559,3.336
                    c1.195-0.208,2.421-0.312,3.668-0.322v0.01c1.663,1.351,2.764,3.273,3.107,5.383l0.01,0.01C26.828,14.057,26.122,15.065,25.342,16z"
                    />
                <circle class="icono_path" stroke="#000000" style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;" cx="16" cy="16" r="4"/>
            </svg>
            {% else %}
                <a id="enlace_login" href="{% url 'logear' %}" class="sesiones">Login</a>&nbsp;&nbsp; <a id="enlace_registro" href="{% url 'Autenticacion' %}" class="sesiones">Registrate</a>
            {% endif %}
        </div>
        <div class="sesion_configuracion aspecto_opciones" id="aspecto_opciones">
            <svg class="left opacidad" id="right_opciones"  version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="30.000000px" height="30.000000px" viewBox="0 0 60.000000 60.000000"
                preserveAspectRatio="xMidYMid meet">
                    <g class="icono_fill" transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M261 435 l-116 -115 116 -115 c95 -94 121 -115 145 -115 59 0 98 55
                    73 103 -6 12 -34 46 -62 75 l-51 52 51 53 c28 28 56 62 62 74 25 48 -14 103
                    -73 103 -24 0 -50 -21 -145 -115z m177 79 c37 -26 27 -53 -45 -126 l-67 -68
                    67 -68 c73 -74 82 -101 43 -127 -33 -22 -41 -16 -156 100 l-95 96 106 104 c58
                    58 110 105 115 105 5 0 20 -7 32 -16z"/>
                    </g>
                </svg>
            <form action="" method="post" class="formulario_de_aspectos" id="formulario_de_aspectosID">
                <label class="opacidad">
                    <input type="radio" name="modo" value="C" id="">
                    <p>Modo claro</p>
                </label>
                <label class="opacidad">
                    <input type="radio" name="modo" value="O" id="">
                    <p>Modo oscuro</p>
                </label>
                <label class="opacidad">
                    <input type="radio" name="modo" value="S" id="">
                    <p>Sistema</p>
                </label>
            </form>
        </div>
        <div class="sesion_configuracion" id="sesion_configuracion">
            <button class="Aspecto opacidad" id="Aspecto">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="30.000000pt" height="30.000000pt" viewBox="0 0 100.000000 100.000000"
                    preserveAspectRatio="xMidYMid meet">

                    <g class="icono_fill" transform="translate(0.000000,90.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M285 768 c-62 -32 -131 -104 -162 -172 -24 -52 -28 -74 -28 -146 0
                    -72 4 -94 28 -146 36 -77 104 -145 182 -181 51 -24 73 -28 145 -28 72 0 94 4
                    145 28 63 29 137 93 161 139 l14 26 -38 -10 c-56 -16 -152 -4 -218 26 -163 75
                    -251 267 -197 429 11 31 17 57 14 57 -3 -1 -24 -10 -46 -22z"/>
                    </g>
                </svg>
                <p>Aspecto</p>
                <svg class="right" version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="10.000000px" height="10.000000px" viewBox="0 0 100.000000 100.000000"
                preserveAspectRatio="xMidYMid meet">
                    <g class="icono_fill" transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M183 535 c-26 -19 -37 -59 -22 -88 6 -12 34 -46 62 -74 l51 -53 -51
                    -52 c-28 -29 -56 -63 -62 -75 -25 -48 14 -103 73 -103 24 0 50 21 145 115
                    l116 115 -116 115 c-123 122 -147 134 -196 100z m166 -110 l106 -104 -95 -96
                    c-115 -116 -123 -122 -156 -100 -39 26 -30 53 43 127 l67 68 -67 68 c-41 42
                    -67 76 -67 89 0 21 33 53 54 53 5 0 57 -47 115 -105z"/>
                    </g>
                </svg>
            </button>
            {% if user.is_authenticated %}
                {% comment %} <a href="{% url 'perfil' user.id %}" class='sesion-perfil'>
                    {% if alumno.imagen_perfil %}
                    <img src="{{alumno.imagen_perfil.url}}" alt="" class="foto_chica">
                    {% endif %} {% endcomment %}
                    
                {% comment %} </a> {% endcomment %}
                <a href="{% url 'cerrar_sesion' %}" class="sesiones opacidad">Cerrar sesion</a>                
            {% endif %}
        </div>
    </div>
    </nav>
    <script src="{% static 'horarios/js/base.js' %}"></script>
    <script>
        const image1 = "{% static 'horarios/img/lata-gemini.png' %}";
        const image2 = "{% static 'horarios/img/lata-gemini-dark.png' %}";
        let aspecto = "{{aspecto}}";
    </script>
    {% block content %}

    {% endblock %}
</body>
</html>